.main-display-comtainer {
	display: grid;
	column-gap: 1.5rem;
	grid-template-areas:
		'one'
		'two';

	// grid-auto-columns: 1fr;
	// grid-template-areas:
	// 	'one'
	// 	'two';

	// .video-details {
	// 	grid-column: span 2;
	// }

	@media (min-width: 90em) {
		grid-template-columns: 4fr 1fr;
	}
}

.main-display-comtainer:nth-child(1) {
	grid-area: one;
}
.main-display-comtainer:nth-child(2) {
	grid-area: two;
}
