.copy-right-tags {
	width: 100%;
	margin: auto;
	padding: 0rem 0.8rem 1rem 0;

	display: flex;
	align-items: flex-end;
	justify-content: flex-end;

	.copy-rights {
		background: rgba(0, 0, 0, 0.8);
		-webkit-backdrop-filter: saturate(180%) blur(10px);
		backdrop-filter: saturate(180%) blur(10px);
		box-shadow: 2px 2px 30px #00000036;

		border-radius: 1rem;

		font-family: 'Roboto', sans-serif;
		font-size: 0.7rem;
		padding: 0.5rem 1rem;
		color: aliceblue;

		transition: all 0.3s ease;

		h2 {
			display: flex;
			align-items: center;

			.i-copy {
				font-size: 1.2rem;
				margin-right: 2px;
				padding: 0;
			}
			a {
				text-decoration: none;
				color: aliceblue;

				span {
					color: #575aff;
				}

				&:hover {
					transition: all 0.5s ease;
					color: #575aff;

					span {
						color: aliceblue;
					}
				}
			}
		}

		transition: all ease 0.3s;
		&:hover {
			box-shadow: 0 4px 6px -1px #7c9fff1a, 0 2px 4px -2px #7c9fff1a;
		}
	}

	.links {
		width: 4.5rem;
		height: 2rem;

		margin: 0 0.5rem;

		display: flex;
		align-items: center;
		justify-content: space-between;

		font-size: 1.3rem;
		color: #0e0e0e;

		user-select: none;

		a {
			height: 2.1rem;
			width: 2.1rem;

			display: flex;
			align-items: center;
			justify-content: center;

			text-decoration: none;

			background: rgba(0, 0, 0, 0.8);
			padding: 0.5rem;

			border-radius: 50%;
			transition: all 0.3s ease;
			color: #ffffff;

			&:hover {
				background: aliceblue;

				color: #0e0e0e;
				font-size: 1.5rem;

				box-shadow: 0 4px 6px -1px #0000001a, 0 2px 4px -2px #0000001a;
			}
		}
	}

	@media screen and (max-width: 660px) {
		display: flex;
		align-items: center;
		justify-content: center;

		h2 {
			font-size: 0.9rem;
		}
	}
}
