.video-item-container {
	width: 80vw;
	display: flex;
	align-items: center;

	gap: 2rem;

	background: rgba(0, 0, 0, 0.8);
	-webkit-backdrop-filter: saturate(180%) blur(10px);
	backdrop-filter: saturate(180%) blur(10px);
	box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.212);

	color: aliceblue;
	padding: 0.8rem;
	margin: 1rem 0;
	border-radius: 15px;

	cursor: pointer;

	.video-image {
		img {
			width: 250px;
			height: fit-content;
			border-radius: 15px;
		}
	}

	.video-info {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
}
