.video-details {
	margin: 1.5rem 1rem 0 1rem;

	.video-display-container {
		// background: #838383;

		width: 100%;
		height: 100%;
		display: grid;
		grid-template-rows: 4fr 1fr;
		row-gap: 1rem;

		.video-iframe-container {
			position: relative;

			iframe {
				position: absolute;
				border-radius: 15px;
				aspect-ratio: 16 / 9;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;

				box-shadow: 0 4px 6px -1px #7c9fff1a, 0 2px 4px -2px #7c9fff1a;
			}
		}

		.video-info-card {
			width: 100%;
			color: aliceblue;

			padding: 2rem;
			border-radius: 15px;

			display: flex;
			flex-direction: column;
			gap: 1.5rem;

			background: rgba(0, 0, 0, 0.8);
			-webkit-backdrop-filter: saturate(180%) blur(10px);
			backdrop-filter: saturate(180%) blur(10px);
			box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.212);

			h4 {
				font-size: 1.6rem;
			}
			transition: all ease 0.3s;
			&:hover {
				box-shadow: 0 4px 6px -1px #7c9fff1a, 0 2px 4px -2px #7c9fff1a;
			}
		}
	}
}
