.video-list {
	// background: #fdfafa;
	padding: 1rem;

	.video-list-container {
		display: grid;
		grid-template-rows: 1fr;
		row-gap: 1.5rem;
	}

	@media (min-width: 90em) {
		margin: 1.5rem 1rem 2rem 0rem;
		padding: 0;
	}
}
