.video-display-container {
	// background: #838383;
	margin: 1.5rem 1rem;

	width: 100%;
	height: 95%;
	display: grid;
	grid-template-rows: 4fr 1fr;
	row-gap: 0.5rem;

	.video-iframe-container {
		position: relative;

		iframe {
			position: absolute;
			border-radius: 15px;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	.video-info-card {
		width: 100%;
		color: aliceblue;

		padding: 2rem;
		border-radius: 15px;

		display: flex;
		flex-direction: column;
		gap: 1.5rem;

		background: rgba(0, 0, 0, 0.8);
		-webkit-backdrop-filter: saturate(180%) blur(10px);
		backdrop-filter: saturate(180%) blur(10px);
		box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.212);

		h4 {
			font-size: 1.6rem;
		}
	}
}
